 

// SASS Variables //

@mixin button {
    padding: 5px 15px;
    height: 100%;
    font-size: 1.063rem;
    border-radius: 3px;
    border-style: none;
    text-decoration: none;
    text-align: center;
}

// Font Import //
@import url(https://fonts.googleapis.com/css?family=Poppins);

// Icon Colours //

.fa-code {
    color: $purple;
}

.fa-desktop {
    color: $blue;
}

.fa-bars {
    color: $white;
}

.telecoms {
    color: $orange-red;
}

.bespoke {
    color: $blue-grey;
}

.marketing {
    color: $green;
}

.security {
    color: $red;
}

#training {
    color: $purple;
}

// Main Styling //

html, body {
    width:100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    height: 6230px;
}

* {
    font-family: poppins, sans-serif;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
    font-size: .8125rem;
    line-height: 1.375rem;
    padding: 0;
}

small {
    width: 192px;
    height: 11px;
}

// Class Styling //

.container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    line-height: 50px;
    min-width: 141.016px;
    min-height: 54px;
    cursor: pointer;
    @include button;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    margin-right: 20px;
}

.mobile {
    width: 95%;
    display: flex;
    a {
        width: 80%;
    }
    .support-cont {
        width: 100px;
    }
}

.logo-cont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 500px;
    height: 70px;
    padding: 20px 0px;
    justify-content: space-around;
    text-align: center;
}

.main-logo {
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    //width: 394px;
    height: 62px;
}

.support-button {
    display: none;
    background-color: $blue;
    color: $white;
    &:hover {
        background-color: $hover-blue;
    }
}

.contact-button {
    display: none;
    background-color: $contact;
    color: $white;
    &:hover {
        background-color: $hover-contact;
    }
}

.search-bar {
    line-height: 50px;
    height: calc(100% - 4px);
    min-width: 75%;
    margin-top: 20px;
    margin-left: -40px;
    border-color: $border;
    border-width: 1px;
    &:focus {
        outline-color: $blue;
    }
}

.menu-box {
    background-color: $black;
    color: $white;
    font-size: .75rem;
    min-width: 63px;
    min-height: 56px;
    border-radius: 3px;
    border-style: none;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
}

.main-nav {
    display: none;
    box-sizing: border-box;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: $main-color;
    width: 1920px;
    height: 99px;
}

.nav-li {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    width: 192.672px;
    height: 99px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
    line-height: 15px;
    .fas {
        margin-top: 17px;
        margin-bottom: 10px;
    }
}

.sub-nav-container {
    display: none;
    position: absolute;
    z-index: 2;
    top: 99px;
    left: 0;
    height: 40px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
        width: 1200px;
        margin-top: 10px;
    }
}

.nav-web:hover {
    background-color: $purple;
    color: $white;
    .fa-code {
        color: $white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-web-hover;
        color: $white;
    }
}

.nav-it:hover {
    background-color: $blue;
    color: $white;
    .fa-desktop {
        color: $white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-it-hover;
        color: $white;
    }
}

.nav-telecoms:hover {
    background-color: $orange-red;
    color: $white;
    .telecoms {
        color: $white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-telecoms-hover;
        color: $white;
    }
}

.nav-bespoke:hover {
    background-color: $blue-grey;
    color: $white;
    .bespoke {
        color: $white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-bespoke-hover;
        color: $white;
    }
}
.nav-market:hover {
    background-color: $green;
    color: $white;
    .marketing {
        color:$white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-market-hover;
        color: $white;
    }
}

.nav-security:hover {
    background-color: $red;
    color: $white;
    .security {
        color: $white;
    }
    .sub-nav-container {
        display: block;
        background-color: $sub-security-hover;
        color: $white;
    }
}

.sub-nav-web,
.sub-nav-IT,
.sub-nav-telecoms,
.sub-nav-bespoke,
.sub-nav-market,
.sub-nav-security {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

// Banner //

.wrapper {
    position: relative;
    width: 1920px;
    height: 740px;
    margin-bottom: 20px;
    background-size: cover;
    background: linear-gradient(to right, $black, transparent),
                url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg);
}

.banner-contents {
    width: 483px;
    justify-content: left;
    align-items: left;
    color: $white;
    position: absolute;
    text-align: center;
    top: 33%;
    right: 0;
    bottom: 70%;
    h1 {
        font-size: 48px;
        font-weight: normal;
        z-index: 3;
    }
    p {
        font-size: 20px;
        z-index: 3;
    }
}

.wd-button {
    background-color: $purple;
    color: $white;
    &:hover {
        background-color: $wd-button-hover;
    }
}

// Service Cards // //

.row-1 {
    width: calc(100%-15px);
    margin: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-1-card {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: calc(100%-15px);
    height: 312px;
    letter-spacing: .4px;
    text-align: center;
    align-content: center;
    float: left;
}

.software-cont {
    h3,
    p {
        color: $black;
    }
    .s-button {
        color: $white;
    }
    .bespoke {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $blue-grey;
        color: $white;
        border-radius: 50%;
        justify-content: center;
    }
    &:hover {
        background-color: $blue-grey;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .bespoke {
            background-color: $white;
            color: $blue-grey;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $blue-grey;
        }
        .s-button {
            color: $blue-grey;
            background-color: $white;
        }
    }
}

.it-cont {
    h3,
    p {
        color: $black;
    }
    .it-button {
        color: $white;
    }
    .fa-desktop {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $blue;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $blue;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .fa-desktop {
            background-color: $white;
            color: $blue;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $blue;
        }
        .it-button {
            color: $blue;
            background-color: $white;
        }
    }
}

.marketing-cont {
    h3,
    p {
        color: $black;
    }
    .m-button {
        color: $white;
    }
    .marketing {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $green;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $green;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .marketing {
            background-color: $white;
            color: $green;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $green;
        }
        .m-button {
            color: $green;
            background-color: $white;
        }
    }
}

.row-2 {
    width: calc(100%-15px);
    justify-content: center;
    // margin: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-2-card {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: calc(100%-15px);
    height: 312px;
    letter-spacing: .4px;
    text-align: center;
    float: left;
}

.telecoms-cont {
    h3,
    p {
        color: $black;
    }
    .t-button {
        color: $white;
    }
    .telecoms {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $orange-red;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $orange-red;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .telecoms {
            background-color: $white;
            color: $orange-red;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $orange-red;
        }
        .t-button {
            color: $orange-red;
            background-color: $white;
        }
    }
}

.web-cont {
    h3,
    p {
        color: $black;
    }
    .w-button {
        color: $white;
    }
    .fa-code {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $purple;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $purple;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .fa-code {
            background-color: $white;
            color: $purple;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $purple;
        }
        .w-button {
            color: $purple;
            background-color: $white;
        }
    }
}

.security-cont {
    h3,
    p {
        color: $black;
    }
    .sec-button {
        color: $white;
    }
    .security {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $red;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $red;
        color: $white;
        h3,
        p {
            color: $white;
        }
        .security {
            background-color: $white;
            color: $red;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $red;
        }
        .sec-button {
            color: $red;
            background-color: $white;
        }
    }
}

.training-cont {
    h3,
    p {
        color: $black;
    }
    .tr-button {
        color: $white;
    }
    #training {
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 0 auto 17px;
        background-color: $purple;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        background-color: $purple;
        color: $white;
        h3,
        p {
            color: $white;
        }
        #training {
            background-color: $white;
            color: $purple;
        }
        .line {
            color: $white;
            background-color: $white;
        }
        a {
            color: $purple;
        }
        .tr-button {
            color: $purple;
            background-color: $white;
        }
    }
}

.block {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.line {
    content: '';
    display: block;
    background-color: $black;
    color: $black;
    margin: auto;
    width: 28px;
    height: 3px;
}

.s-button {
    background-color: $blue-grey;
    width: 128px;
    height: 47px;
}

.it-button {
    background-color: $blue;
    width: 128px;
    height: 47px;
}

.m-button {
    background-color: $green;
    width: 128px;
    height: 47px;
}

.t-button {
    background-color: $orange-red;
    width: 128px;
    height: 47px;
}

.w-button {
    background-color: $purple;
    width: 128px;
    height: 47px;
}

.sec-button {
    background-color: $red;
    width: 128px;
    height: 47px;
}

.tr-button {
    background-color: $purple;
    width: 128px;
    height: 47px;
}

.s-cards {
    max-width: 100%;
    display: block;
    align-content: space-between;
}

// // Company Info // //

.company-info-cont {
    width: 1920px;
    height: 553px;
    background-color: $main-color;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    p {
        font-size: 13px;
    }
}

.company-info {
    padding: 25px 15px;
    // margin-left: 250px;
}

.company-h1 {
    text-align: left;
    top: 33%;
    left: 15%;
    right: 0;
    bottom: 70%;
}

.culture {
    width: 175px;
    height: 35px;
    padding: 5px 15px;
    background-color: $white;
    font-weight: lighter;
    a {
        color: $black;
    }
    &:hover {
        background-color: darken($color: $white, $amount: 5%)
    }
}

// News Cards //

.news-head {
    padding: 25px 15px;
    background-color: $white;
    position: relative;
    // h2 {
    //     // margin-left: 250px;
    // }
}

.line-2 {
    content: '';
    display: block;
    background-color: $black;
    color: $black;
    margin-left: 12px;
    width: 80px;
    height: 3px;
}

.news-boxshadow {
    width: 1940px;
    height: 3px;
    border-bottom: $white;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.1);
}

.line-3 {
    content: '';
    display: block;
    color: $border;
    background-color: $border;
    text-shadow: rgba(0,0,0,.1);
    margin: auto;
    width: 308px;
    height: 1px;
}

.n-cards-cont {
    position: relative;
    width: 100%;
    margin: 15px;
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.news-img {
    height: 213px;
    border-bottom: solid $black 3px;
    transition: all 0.3s ease-out;
    opacity: 1;
    &:hover {
        transform: scale(1.1);
        opacity: 0.75;
    }
}

.img-cont {
    width: 453px;
    height: 213px;
    overflow: hidden;
}

.card-content {
    padding: 0px 15px;
    overflow: hidden;
}

.tool {
    position: relative;
    &::before,
    &::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -1;
    }
    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
        opacity: 1;
        z-index: 3;
    }
}

.tool::before {
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: $main-color transparent transparent transparent;
    bottom: 120%;
    margin-left: -.5em;
    content: '';
}

.tool::after {
    background-color: $main-color;
    bottom: 180%;
    color: $white;
    width: 17.5em;
    padding: 1em;
    margin-left: -8.75em;
    content: attr(data-tip);
    font-weight: normal;
}

.covid-overlay {
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 23px;
    margin-left: 378px;
    padding: 0px 10px;
    line-height: 23.008px;
    font-size: 12px;
    font-weight: bold;
    background-color: $covid;
    color: $white;
    a:hover {
        text-decoration: underline;
    }
}

.covid-cont {
    font-size: 16px;
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: 453px;
    height: 583px;
    letter-spacing: .4px;
    line-height: 1.375rem;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-left: 0;
    overflow: hidden;
    .cov-p {
        margin-top: 42px;
    }
    .header-link {
        color: $black;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        &:hover {
            color: $covid;
            text-decoration: underline;
        }
    }
}

.birthday-overlay {
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 23px;
    margin-left: 378px;
    padding: 0px 10px;
    line-height: 23.008px;
    font-size: 12px;
    font-weight: bold;
    background-color: $hover-blue;
    color: $white;
    a:hover {
        text-decoration: underline;
    }
}

.birthday-cont {
    font-size: 16px;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: 453px;
    height: 583px;
    letter-spacing: .4px;
    line-height: 1.375rem;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-left: 0;
    overflow: hidden;
        .bd-p {
        margin-top: 42px;
        }
        .header-link {
        color: $black;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        &:hover {
            color: $hover-blue;
            text-decoration: underline;
        }
    }
}

.graduation-overlay {
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 23px;
    margin-left: 378px;
    padding: 0px 10px;
    line-height: 23.008px;
    font-size: 12px;
    font-weight: bold;
    background-color: $grad;
    color: $white;
    a:hover {
        text-decoration: underline;
    }
}

.graduation-cont {
    font-size: 16px;
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: 453px;
    height: 583px;
    letter-spacing: .4px;
    line-height: 1.375rem;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-left: 0;
    overflow: hidden;
        .header-link {
        color: $black;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        &:hover {
            color: $grad;
            text-decoration: underline;
        }
    }
}

.nm-icon {
    max-width: 47px;
    float: left;
    margin-right: 30px;
    margin-left: -60px;
}

.cov-button {
    margin-top: 30px;
    margin-left: -145px;
    background-color: $blue-grey;
    color: $white;
    height: auto;
    &:hover {
        background-color: $covid;
    }
}

.bday-button {
    margin-top: 30px;
    margin-left: -145px;
    background-color: $blue;
    color: $white;
    height: auto;
    &:hover {
        background-color: $hover-blue;
    }
}

.grad-button {
    margin-top: 6px;
    margin-left: -145px;
    background-color: $purple;
    color: $white;
    height: auto;
    &:hover{
        background-color: $grad;
    }
}

.line-space {
    padding-top: 30px;
}

.user {
    padding-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.user-title {
    font-weight: bold;
}

// Commercial Sites //

.commercial-sites-block {
    visibility: hidden;
    display: flex;
    width: 1903px;
    height: 170px;
    background: lighten($color: $commercial, $amount: 50%);
    margin: auto;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
}

.commercial-clients {
    justify-content: space-around;
    padding: 50px 0;
}

.com-tool {
    position: relative;
    &::before,
    &::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -1;
    }
    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
        opacity: 1;
        z-index: 3;
    }
}

.com-tool::before {
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: $main-color transparent transparent transparent;
    bottom: 120%;
    margin-left: -.5em;
    margin-bottom: 84px;
    content: '';
}

.com-tool::after {
    background-color: $main-color;
    // border-radius: .25em;
    bottom: 180%;
    color: $white;
    width: 17.5em;
    padding: 1em;
    margin-left: -8.75em;
    margin-bottom: 84px;
    content: attr(data-tip);
    font-weight: normal;
}

.busseys-logo,
.crane-logo,
.beat-logo,
.diver-logo {
    padding: 0px 20px;
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }
}

.tooltip {
    position: relative;
}

.tooltip-text {
    position: fixed;
    visibility: hidden;
    .tooltip:hover {
        visibility: visible;
    }
}

// // Footer // //

footer {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: $main-color;
    justify-content: space-around;
}

.foot-col-1,
.foot-col-2,
.foot-col-3,
.foot-social-media {
    justify-content: space-around;
    width: 270px;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    color: $white;
    background-color: $main-color;
}

.gap {
    margin-bottom: 25px;
}

.facebook,
.twitter,
.linkedin {
    width: 120px;
    height: 55px;
    display: inline-block;
    background-color: rgba(0,0,0,.25);
    font-size: 1.75rem;
    line-height: 3.438rem;
    color: $white;
    text-align: center;
    text-decoration: none;
}

.facebook {
    margin-right: 25px;
}

.linkedin {
    margin-top: 30px;
}

.facebook:hover {
    background-color: $facebook;
}

.twitter:hover {
    background-color: $twitter;
}

.linkedin:hover {
    background-color: $linkedin;
}

// Partnerships //

.partners-cont {
    display: none;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
    max-width: 1903px;
    max-height: 188px;
    padding: 50px 0;
}

.item-google {
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 50px;
    text-align: center;
    font-size: 16px;
    line-height: 22.8571px;
    letter-spacing: 0.4px;
}

.item {
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 50px;
    text-align: center;
    font-size: 16px;
    line-height: 22.8571px;
    letter-spacing: 0.4px;
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }
}

// ID Styling //

#search-submit {
    height: 100%;
    width: 63px;
    margin-right: 20px;
    margin-left: -200px;
    margin-top: 20px;
    padding: 7px 20px 3px;
    line-height: 24.2971px;
    font-size: 17.008px;
    letter-spacing: normal;
    border-style: none;
    border-radius: 0px 3px 3px 0px;
    color: $white;
    background-color: $s-submit;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: darken($color: $s-submit, $amount: 10%)
    }
}