// Base Colours

$purple: #926fb1;

$blue: #4183d7;

$hover-blue: #2a6ec6;

$white: #fff;

$orange-red: #d64541;

$blue-grey: #67809f;

$green: #2ecc71;

$red: #f62459;

$black: #000;

$main-color: #333645;

$border: #ccc;

$commercial: #666;

// Buttons and Hovers

$contact: #999aa2;

$hover-contact: #84858f;

$sub-web-hover: #79539a;

$sub-it-hover: #286abd;

$sub-telecoms-hover: #bc2c28;

$sub-bespoke-hover: #526781;

$sub-market-hover: #25a25a;

$sub-security-hover: #de093f;

$wd-button-hover: #7e57a0;

$covid: #566c88;

$grad: #7e57a0;

$facebook: #3b5998;

$twitter: #00aced;

$linkedin: #0077b5;

$s-submit: #a6a6a6;